.breed {
  min-height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 1.2rem;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  transition: all 1s ease-out;
  overflow: hidden;
}
.breed:hover {
  transform: scale(1.1, 1.1);
  z-index: 10;
}
.breed[data-image-number="-1"]:hover {
  transform: none;
}

.name {
  font-size: 1.3rem;
  opacity: 1;
  transition: all 1s ease-out;
  color: var(--black);
}
.name--readable {
  color: var(--white);
  background-color: var(--black-tran-1);
  width: 100%;
  padding: 50px 0px;
}
.breed:hover .name {
  opacity: 0;
}