:root {
  --white: #e4e3e3;
  --shade-1: #84a9ac;
  --shade-2: #3b6978;
  --black: #204051;
  --transition-duration: .5s;
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
